@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Styles that are applied to all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styles for the HTML Page */
html {
    font-family: 'Inter', serif;
    scrollbar-width: thin;
}

/* Variables to prevent hard-coding values */
:root {
    /* Light Mode Colorscheme */
    --text: #141a17;
    --secondary-text: #e5ebe8;
    --background: #f6f9f8;
    --primary: #3d524a;
    --secondary: #a2b6b9;
    --accent: #637683;
    --border: rgba(0, 0, 0, 0.1);

    /* Sizing */
    --gutters: 1rem;
    --border-radius: 5px;
}

/* 
    When the user selects dark-mode, we will the "dark" class
    to the body element.
*/
body.dark {
    /* Update colorscheme to dark mode colors */
    --text: #e5ebe8;
    --secondary-text: #141a17;
    --background: #060908;
    --primary: #adc2ba;
    --secondary: #465a5d;
    --accent: #7c8f9c;
    --border: rgba(255, 255, 255, 0.1);

    color-scheme: dark;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
}

/* Apply the gutters to the header and section tags */
header,
section {
    padding: var(--gutters);
}

section {
    border-bottom: 1px solid var(--border);
}

button {
    border: none;
    cursor: pointer;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--border);
    height: 70px;
}

#temperature-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: var(--background);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}

.temperature-switch-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.active-temperature {
    background-color: var(--accent);
    color: var(--secondary-text);
}

/* Container for the weather icon, time and form */
.weather-icon-time-form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.weather-icon-temperature-time-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.weather-temperature-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#current-weather-icon {
    font-size: 7rem;
}

#current-weather-time {
    font-size: 2.5rem;
}

.current-weather-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

#search-location-input {
    width: 400px;
    height: 50px;
    padding: var(--gutters);
    font-size: 1.25rem;
    outline: none;
    border: 2px solid var(--border);
    border-radius: var(--border-radius);
}

#current-weather-title {
    font-size: 2.5rem;
}

#current-weather-temperature {
    font-size: 3rem;
}

/* Second part of the section */
.second {
    border: 1px solid var(--border);
}

.weather-data-container {
    display: flex;
    justify-content: center;
    max-height: 500px;
}

/* Start of Hourly Container */
.hourly {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 15rem;
    overflow-x: scroll;
    min-width: fit-content;
}

.hour {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.hour i {
    font-size: 30px;
    text-align: center;
}

.hour p {
    padding: 5px;
}
/* End of Hourly Container */

.weather-details-container {
    width: 100%;
    align-self: center;
}

.conditions-proverb {
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

/* Start of Daily Container */
.daily {
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    padding: 1rem;
    overflow-x: scroll;
}

.daily span {
    cursor: pointer;
}

.clicked {
    background-color: var(--accent);
    color: var(--secondary-text);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px;
}

.none {
    background-color: none;
    text-align: center;
    padding: 10px;
    border-radius: var(--border-radius);
    transition: opacity 0.25s linear, background-color 0.25s linear;
}

.none:hover {
    background-color: var(--accent);
    opacity: 0.9;
}

.daily i {
    font-size: 40px;
    padding: 20px;
}

.day {
    font-size: 25px;
}
/* End of Daily Container */

/* Start of Conditions Container */
.conditions {
    display: inline-block;
    font-size: 1.5rem;
    width: 50%;
}

.details {
    text-align: center;
    padding: 1rem;
}
/* End of Conditions Container */

/* Start of Proverb Container */
.proverb {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.proverb h3 {
    font-size: 3rem;
    padding: 1rem;
}

.proverb p {
    font-size: 2rem;
    padding: 2rem;
}
/* End of Proverb Container */
